<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Keeping Tabs</title>
  <link rel="icon" type="image/png" href="../icons/keeping-tabs-16.png" sizes="16x16">
  <!-- Vue -->
  <script src="../library/vue.js"></script>
  <!-- Bulma -->
  <link rel="stylesheet" href="../library/bulma.css">
  <!-- Manager CSS -->
  <link rel="stylesheet" type="text/css" href="manager.css">

</head>
<body>

  <section class="section">
    <div class="container">
      <div class="columns is-6 is-variable" id="vue-app">

        <!-- Current Tabs -->

        <div class="column">
            <!-- Header -->
            <div class="actions">
            <h1 class="title is-4 primary-color">
              Current Tabs ({{ currentItems.length }})
            </h1>
            <ul>
              <li>
                <p
                  :class="currentActionClasses"
                  @click="saveCurrentItems()"
                >Save</p>
              </li>
            </ul>
          </div>
          <hr>
          <!-- Content -->
          <ul id="current-list" v-if="currentItems.length != 0">
            <li
              is="current-list"
              v-for="item in currentItems"
              :favicon="item.favicon"
              :title="item.title"
              :url="item.url"
            ></li>
          </ul>
          <p
            class="medium-font"
            v-if="currentItems.length == 0"
          >Nothing here. Try opening a few tabs.</p>
        </div>

        <!-- Saved Sessions -->

        <div class="column">
          <!-- Header -->
          <div class="actions">
            <h1 class="title is-4 primary-color" >
              Saved Sessions ({{ savedItems.length }})
            </h1>
            <ul>
              <li>
                <p
                  :class="savedActionClasses"
                  @click="removeActionHandler()"
                  id="remove-action"
                  >Remove</p>
              </li>
              <li>
                <p
                  :class="savedActionClasses"
                  @click="clearSavedItems()"
                  >Clear</p>
              </li>
            </ul>
          </div>
          <hr>
          <!-- Content -->
          <ul id="saved-list">
            <li
              is="saved-list"
              v-for="(item, index) in savedItems"
              :name="item.name"
              :count="item.count"
              :date="item.date"
              :time="item.time"
              :remove="item.remove"
              @remove-item="removeSavedItem(index)"
            ></li>
          </ul>
          <p
            class="medium-font"
            v-if="savedItems.length == 0"
          >Nothing here. Try saving from Current Tabs.</p>
        </div>

        <!-- Settings -->

        <div class="column is-one-quarter">
          <!-- Header -->
          <div class="actions">
            <h1 class="title is-4 primary-color">Settings</h1>
            <ul>
              <li>
                <p class="medium-font has-text-weight-normal clickable">
                  About
                </p>
              </li>
            </ul>
          </div>
          <hr>
          <!-- Content -->
          <p class="medium-font has-text-weight-normal">Coming soon</p>
          <!-- <div class="modal s-active"> -->
          <!--   <div class="modal-background"></div> -->
          <!--   <div class="modal-content"> -->
          <!--     Hello World -->
          <!--   </div> -->
          <!--   <button class="modal-close is-large" aria-label="close"></button> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <!-- Manager JS -->
  <script type="text/javascript" src="manager.js"></script>

</body>
</html>

