/* General */

.section {
  height: 100vh;
  background: #2d2d2d;
  padding-top: 35px;
  color: #fbfbfb;
}

h1 {
  margin-bottom: 20px !important;
}

li {
  line-height: 1.2;
  margin-bottom: 15px;
}

.medium-font {
  font-size: 0.8rem;
}

.small-font {
  font-size: 0.65rem;
}

.primary-color {
  color: #fbfbfb;
}

.secondary-color {
  color: #8f8f8f;
}

/* Current Tabs */

#current-list {
  max-height: 80vh;
  overflow: scroll;
}

.media-left {
  margin-right: 10px;
}

a {
  display: inherit;
}
a:hover {
  color: #fbfbfb;
  text-decoration: underline;
}

.media-content {
  overflow: initial;
}

/* Saved Sessions */

.names {
  margin-bottom: 3px;
  font-weight: bold;
}

/* Actions */

.actions {
  margin-bottom: 5px;
}

.actions > p {
  cursor: pointer;
}
.actions > p:hover {
  text-decoration: underline;
}

.actions > p {
  display: inline;
  margin-left: 3px;
}

hr {
  margin: 15px 0;
}
