/* General */

.section {
  height: 100vh;
  background: #2d2d2d;
  padding-top: 35px;
  color: #fbfbfb;
}

.medium-font {
  font-size: 0.8rem;
}

.small-font {
  font-size: 0.6rem;
}

/* Current Tabs */

#current-tab-list {
  max-height: 80vh;
  overflow: scroll;
}

.title {
  color: #fbfbfb;
}

.media-left {
  margin-right: 10px;
}

.icons {
  width: 20px;
}

.media-content {
  height: 45px;
}

.titles, .urls {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titles {
  margin-bottom: 0px !important;
}

.urls {
  color: #8f8f8f;
  margin-top: -2px;
}

/* Actions */

.actions {
  margin-bottom: 4px;
}

.actions > p {
  cursor: pointer;
}
.actions > p:hover {
  font-weight: bold;
}

/* .disabled { */
/*   cursor: default; */
/*   color: #8f8f8f; */
/* } */

.actions > p {
  display: inline;
  margin-left: 3px;
}
